html {
  height: 100vh;
  width: 100%;
}
body {
  height: 100vh;
  max-width: 800px;
  min-width: 500px;
  margin: 0px auto;
  overflow: auto;
  background-color: #eee;
}

.header {
  height: 50px;
  border-bottom: 1px solid #999;
  background-color: #fff;
}

.middle {
  display: flex;
  padding-bottom: 50px;
  min-height: calc(100% - 102px);
  background-color: #fff;
}
.content {
  flex-grow: 1;
}

.sidebar {
  width: 300px;
  box-shadow: -10px 4px 15px -7px rgb(51 51 51 / 51%);
  border-left: 1px solid #ccc;
}

.footer {
  height: 50px;
  max-width: 800px;
  min-width: 500px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin: 0px auto;

  border-top: 1px solid #999;
}
@media screen and (max-width: 800px) {
  body {
    width: 100%;
    margin: 0px;
  }
}
@media screen and (max-width: 700px) {
  body {
    width: 100%;
    margin: 0px;
  }
  .sidebar {
    min-height: calc(100% - 102px);
   height: inherit;
    transition-property: right, opacity;
    transition-duration: 250ms, 250ms;
    transition-timing-function: ease-out;
    position: relative;
    right: -31%;
    opacity: 0;
  }
  .sidebar:hover {
    position: absolute;
    transition-property: right, opacity;
    transition-duration: 250ms, 250ms;
    transition-timing-function: linear;
    right: 0px;
    opacity: 1;
  }
  body {
    overflow: hidden;
  }
}
@media screen and (max-width: 500px) {
  body {
    width: 500px;
    margin: 0px;
    overflow: scroll;
  }
}
